@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', 'Verdana', 'Tahoma', sans-serif;
    background: var(--theme-background);
}
body * {
    z-index: 1;
}

.background-underlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0 !important;
    background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.05);
}

.bg-primary { background: var(--primary-hex); color: var(--primary-text);}
.bg-success { background: var(--success); color: #fff;}
.bg-warning { background: var(--warning); color: #000;}
.bg-danger { background: var(--danger); color: #fff;}
.bg-info { background: var(--info); color: #000;}

/* === PRIMARY BACKGROUND COLOR ELEMENTS === */
div.header-logo-container, nav ul.nav-ul li.active, footer {
    background: var(--primary-hex);
}
/* === 75% WHITE BACKGROUND ELEMENTS === */
p.header-logo-p, p.footer-p {
    background: #ffffff99;
}
p.header-logo-p { text-shadow: 0px 0px 3px white;}

div.header-logo-container {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    border-radius: 1em 1em 0 0;
}
p.header-logo-p {
    font-size: xx-large;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin: 0em 0em;
    padding: 1em 0em;
}
nav ul.nav-ul {
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
}
nav ul.nav-ul li {
    flex-direction: column;
    width: 25%;
    padding: 1em 0em;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
nav ul.nav-ul li.active {
    font-weight: bolder;
    color: var(--primary-text);
}
nav ul.nav-ul li:first-child {
    border-radius: 1em 0em 0em 1em;
}
nav ul.nav-ul li:last-child {
    border-radius: 0em 1em 1em 0em;
}

div.content-container {
    margin: 1em 2em 7em 2em;
}

div.content-container h1.heading-title {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer p.footer-p {
    margin: 0;
    text-align: center;
    font-weight: 500;
    color: #00000077;
}
footer p.footer-p small {
    font-size: x-small;
}

button, select, option, input, textarea {
    font-family: inherit;
    font-size: medium;
    min-height: 2em;
}
select, option, input, textarea {
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.25em;
    box-shadow: 0px 0px 1px 2px rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.125);
}
select:focus, option:focus, input:focus, textarea:focus {
    outline: 2px solid rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5);
}
option:focus, option:active, option:checked {
    background: var(--primary-hex);
    color: var(--primary-text);
    font-weight: 600;
}
textarea {
    resize: none;
}

button.btn {
    padding: 1em;
    border-radius: 1em;
    border: inset 0.5em #11111122;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

table {
    background: #77777733;
}
thead th, tbody td {
    border: 1px solid #77777733;
    background: #f7f7f7;
    padding: 0.5em;
}
/* button.btn img:first-child { margin-right: 1ch; }
button.btn img:last-child { margin-left: 1ch; } */

button.btn.btn-primary { background-color: var(--primary-hex); }
button.btn.btn-success { background-color: var(--success); }
button.btn.btn-warning { background-color: var(--warning); }
button.btn.btn-danger { background-color: var(--danger); }
button.btn.btn-info { background-color: var(--info); }

button.btn.btn-primary { color: var(--primary-text); }
button.btn.btn-success, button.btn.btn-danger { color: #fff; }
button.btn.btn-warning, button.btn.btn-info { color: #111; }

button.btn:disabled { background-color: #bbb; color: #666; }
button.btn:disabled img { filter: saturate(0) }

img.table-button {
    cursor: pointer;
}

.modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgb(0,0,0,0.5);
}

.modals .modal {
    background: #eee;
    margin: 20vh auto;
    /* height: 18em; */
    padding-bottom: 2em;
    width: 30em;
}

.modals .modal .modal-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2em;
    font-size: large;
    font-weight: bold;
}
.modals .modal .modal-body {
    padding: 1em;
    text-align: center;
}
.modals .modal .modal-body h3 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.modals .modal .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}