:root {
    --primary-hex: #d48840;
    --primary-r: 212;
    --primary-g: 136;
    --primary-b: 64;
    --primary-text: #111;
    
    --success: green;
    --warning: orange;
    --danger: crimson;
    --info: lightskyblue;
}