:root {
    --primary-hex: #bb545d;
    --primary-r: 187;
    --primary-g: 84;
    --primary-b: 93;
    
    --success: green;
    --warning: orange;
    --danger: crimson;
    --info: lightskyblue;
}