:root {
    --primary-hex: #008CFF;
    --primary-r: 0;
    --primary-g: 139;
    --primary-b: 255;
    --primary-text: #fff;
    
    --success: green;
    --warning: orange;
    --danger: crimson;
    --info: lightskyblue;
}